

body{
	background: #111;
	background-position: center center;
	background-size: auto auto;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

a{
	text-decoration: none;
	color: #fff;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.main-header{
	background: #111;
	padding: 12px;
	font-family: 'Bebas Neue';
	font-size: 20px;
	position: static;
}

.main-header a{
	color: inherit;
}
.main-header ul{
	list-style: none;

}

.main-header li{
	display: inline;
	padding-left: 20px;
	Padding-right: 20px;

}

.main-header li:first-child{
	background: #fff;
	color: #111;
	padding: 5px;
	border: #fff 1px solid;
	border-radius: 3px;
}

.main-header li:nth-child(2){
	padding-left: 35px;
}

.main{
	background-image: url('../images/bgimage.jpg');
	background-position: center right;
	background-size: cover;
}

.main .link{
	text-align: center;
	font-family: 'Bebas Neue';
	letter-spacing: .3em;

}
.main h1{
	color: #fff;
	text-align: center;
	margin-top: 280px;
	margin-bottom: 280px;
	font-size: 50px;
	font-family: 'Bebas Neue';

}

.about{
	float: left;
	width: 70%;
	box-sizing: border-box;
	margin-top: 225px;
	margin-bottom: 225px;
	letter-spacing: .1em;
	padding-right: 25px;
}

.about a{
	color: #eb4043;
}

.sidebar-img{
	float: right;
	width: 30%;
	box-sizing: border-box;
	margin-top: 225px;
	margin-bottom: 225px;
	border: #fff solid 3px;

}

.quote{
	text-align: center;
	padding: 15px;
	width: 100%;
}
.break{
	background: #eb4034;
	padding: 50px;
}

.work{
	background: #111;
	padding: 150px;
}

.contact{
	background: #111;
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;
}

.contact ul{
	padding: 20px;
	list-style: none;

}

.contact li{
	display: inline;
	padding: 5px;
}

.contact li:hover{
	transform: scale(1.2);

}
.main-footer{
	text-align: center;
	background: #eb4034;
	margin: 0;
	padding: 20px;
}
.bottom-nav {
	text-align: center;
	color: #eb4043;
	
}
.bottom-nav a {
	color: #eb4043;
}

.main-footer a{
	background: #fff;
	text-decoration: none;
	padding: 10px;
	border: solid #fff 1px;
	border-radius: 5px;

	color: #000;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;

}

